*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    min-width: 1140px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.header{
    
    
    &_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
    }
    &_nav{
        
        &_list{
            display: flex;
            &_item{
                margin-left: 34px;
            }
        }
    }
    &_card{

        display: flex;
        align-items: center;
        gap: 25px;
    }
}