*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    min-width: 1140px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
body{
    overflow-x: hidden;
}
.header{
    padding-top: 30px;
    
    
    &_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
    }
    &_nav{
        
        &_list{
            display: flex;
            &_item{
                margin-left: 34px;
            }
        }
    }
    &_card{

        display: flex;
        align-items: center;
        gap: 25px;
    }
    &_btn{
        border: none;
        padding: 15px 25px;
        border-radius: 9px;
        background: var(--Btn, #41F5C0);
    }
}

.hero{
    padding-top: 130px;
    &_container{
        display: flex;
        align-items: center;
        
    }
    &_title{
        width: 270px;
        color: var(--Font, #0C1523);
        font-family: Inter;
        font-size: 42.54px;
        font-style: normal;
        font-weight: 400;
        line-height: 150.5%;
        margin-bottom: 3px;

    }
    &-title{
        color: var(--Font, #0C1523);
        font-family: Inter;
        font-size: 75.594px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 30px;
    }
    &_text{
        width: 360px;
        color: var(--Font, #0C1523);
        font-family: Inter;
        font-size: 23.94px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 40px;
    }
    
        &-btn{
            padding: 15px 25px;
            border-radius: 9px;
            background: var(--Btn, #41F5C0);
            border: none;
            color: var(--Font, #0C1523);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        &_btn{
            border: none;
            margin: 30px;
            color: var(--Font, #0C1523);
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        &_list{
            display: flex;
            flex-wrap: reverse;
            &_item{
                width: 170px;
                height: 66px;
                flex-shrink: 0;
            }
           
        }
        
    
}
.intro{
    padding-top: 130px;
    &_container{
       
    }
    &_title{
        color: var(--Font, #0C1523);
        text-align: center;
        font-family: Inter;
        font-size: 42.536px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 60px;
    }
    &_list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        &_item{
            
        }
        &_title{
            color: var(--Font, #04060a);
            font-family: Inter;
            font-size: 31.912px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
      
    }
    &_text{
        color: var(--Font, #0C1523);
        font-family: Inter;
        font-size: 13.333px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }
}